* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: hack;
    src: url(ttf/Hack-Bold.ttf);
}
body {
    font-family: hack;
    background-color: #1a1b26;
    color: snow;
}


#container{
    height: 100vh;
    /* display: grid; */
    /* grid-row: 2; */
    overflow-y: hidden;
    max-width: 100%;
}

#terminal {
    display: flex;
    height: 100%;
}

#header {
    background-color: black;
    font-size: 0.8rem;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
}


#panel__one, #panel__two {
    font-size: 0.8rem;
}
#panel__one {
    flex: 1;
    overflow-y: auto;
}

#panel__two {
    /* flex: 1; */
    width: 60%;
    border-left: 1px solid white;
    text-wrap: wrap;
    overflow-y: auto;
}

#box {
    width: 20px;
    height: 100%;
    background: snow;
    animation: blink 1s step-start 0s infinite;
}

.command {
    font-family: 'Courier New', Courier, monospace;
}

.command__name {
    color: #2d86f0;
}
@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }


#input, .input__style {
    background-color: transparent;
    color: snow;
    border: none;
    width: auto;
    max-width: 100%;
    text-wrap: wrap;
    margin-left: 8px;
}

.input__style:disabled {
    background-color: transparent;
}

#input:focus {
    outline: none;
    color: snow;
}

.file__display {
    /* margin-right: 1rem; */
    display: inline;
}

.file__container {
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
    /* text-wrap: wrap; */
}

.cat__output {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}